# add user with this command: adduser --system --no-create-home psa
[Unit]
Description=PSA Controller
After=network-online.target

[Service]
ExecStart=/opt/psa_car_controller/__main__.py -c -r -d
Restart=on-failure
RestartSec=1m
Environment=PYTHONUNBUFFERED=true
User=psa

[Install]
WantedBy=multi-user.target