# add user with this command: adduser --system --no-create-home psa
[Unit]
Description=PSA Controller
After=network-online.target

[Service]
ExecStart=/usr/bin/psa-car-controller -c -r -d
WorkingDirectory=<specify data dir for log and config>
Restart=on-failure
RestartSec=1m
Environment=PYTHONUNBUFFERED=true
User=psa

[Install]
WantedBy=multi-user.target
