paho-mqtt>=1.5.0
dash>=1.18.0
dash_daq
plotly>=4
cryptography>=2.6
Werkzeug>=1.0.0
oauth2_client
requests
pytz
typing
argparse
flask
dash_bootstrap_components
geojson
reverse_geocode
androguard
pycryptodomex
deepdiff

#swagger req
certifi >= 14.05.14
six >= 1.10
python_dateutil >= 2.5.3
urllib3 >= 1.15.1